* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: #1E1E1E;
  color: #F1F1F1;
}
